#canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

.backboard {
    width: auto;
    height: auto;
    padding: 2vmax;
    border-radius: 4vmax;
    color: white;
    background-color:rgba(50, 50, 50, 0.7);
}

.centered {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    text-align: center;
    width: auto;
    height: auto;
    padding: 2vmax;
    border-radius: 4vmax;
    border: 0.2em solid white;
    background-color: #a42683;
    color: #FFF;
    pointer-events: all;
}

.button:active {
    background-color: white;
    color: #a42683;
}